.link {
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
}
.active-link {
    font-weight: bold;
}
@media (max-width: 950px) and (min-height: 400px){
    .link {
        font-size: 10px;
    }
}
@media (max-width: 500px) and (min-height: 400px){
    .link {
        font-size: 5px;
    }
}
