.form-text {
    padding-left: 10%;
    padding-top: 3%;
    padding-right: 10%;
    margin-top: 10px;
}
.message {
    width: 100%;
    margin-bottom: 20px;
}
.submit-button {
    margin-bottom: 20px !important;
}
.select-person {
    margin-top: 0px !important;
    min-width: 200px !important;
}
.all-form {
    margin-right: 10px !important;
    margin-left: 10px !important;
}